.share {
    margin-right: 0.3rem;
    zoom: 2;
}

.preparation-notes {
    margin-left: -0.5rem
}

.price {
    font-weight: bold;
    color: black;
    /* margin-left: 0.3rem; */
}

.picker {
    pointer-events: auto;
    margin-top: 0.8rem;
}

.picker ion-icon {
    zoom: 1.3;
}
p {
    color: black;
    margin-top: 0.5rem;
}

.button {
    text-align: right;
    margin-top: 0.3rem;
}

img {
    border-radius: 3%;
}

.heart {
    zoom: 3;
    text-align: right;
}

.price {
     font-size: 2rem;
}

.description {
    margin-top: -1.3rem;
    font-size: 1.3rem;
}

ion-input {
    min-width: 1.8rem;
}

/* ion-content{
    --background: #fff url('../../../assets/fondo.jpg') no-repeat center center / cover;
} */