/* ion-content {
 background-image: url("../../../assets/fondo.jpg");
 background-repeat: no-repeat;
background-size:cover;
} */

/* ion-content{
-–background: url("../../../assets/fondo.jpg");
-–background-repeat: no-repeat;
-–background-size: cover;
} */

/* ion-content{
    --background: #fff url('../../../assets/fondo.jpg') no-repeat center center / cover;
} */

.searchbar-ios .searchbar-input {
    background-color: white !important;
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2em;
    width: 100%;
    margin-left: 1rem;
    font-weight: bold;
    color: #fff;
}

ion-icon {
    zoom: 1.2;
}

/* ion-toolbar {
  --min-height: 50px;
} */

.center {
    text-align: center;
}

.heart {
    text-align: center;
    zoom: 2;
}

img {
    border-radius: 5%;
}

@media (max-width: 800px) {
.family {
    border-radius: 5%;
    max-height: 125px;
}
}

.picker {
    margin-top: 1rem;
}

.product {
    border-radius: 5%;
    margin-top: 3rem;
  /*   width: 15rem;
    height: 5rem; */
}


