<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end" (click)="gotoCart()">
      <ion-icon slot="end" *ngIf="ifLogin()" (click)="gotoLogin()" name="person-outline"></ion-icon>
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -5px; top: -3px;">{{cart?.length}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="search" animated (ionChange)="filter($event)"></ion-searchbar>
  <div *ngIf="search==''">
    <ion-card class="family" *ngFor="let family of familyes" (click)="goToFamili(family.name ,family.id)">
      <img *ngIf="family.image == 'null'" src="../../../assets/SALADO.jpg" />
      <img *ngIf="family.image != 'null' " src="{{family.image}}" />
      <div class="card-title">{{family.name | uppercase }}</div>
    </ion-card>
  </div>

  <div *ngIf="search!=''">
    <ion-card  *ngFor="let p of product; index as i">
      <ion-row>
        <ion-col>
          <img  class="product" *ngIf="!p.image" src="../../../assets/mug.jpg" />
          <img  class="product" *ngIf="p.image" src="{{p.image}}" />
        </ion-col>
        <ion-col size="9">
          <h4>
            <ion-card-title>{{p.name}}</ion-card-title>
          </h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="center">
          <ion-button (click)="loadProduct(p)">Ver mas</ion-button>
        </ion-col>
        <ion-col class="heart">
          <div *ngIf="productLike">
            <ion-icon *ngIf="!checkFav(p)" name="heart-outline" (click)="addFav(p)"></ion-icon>
            <ion-icon *ngIf="checkFav(p)" color="danger" name="heart" (click)="deleteFav(p)"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>