.card-title {
    position: absolute;
    top: 36%;
    font-size: 2em;
    width: 100%;
    margin-left: 1rem;
    font-weight: bold;
    color: #fff;
}

ion-icon {
    zoom: 1.2;
}

/* ion-toolbar {
  --min-height: 50px;
} */

.center {
    text-align: center;
}

.heart {
    text-align: center;
    zoom: 2;
}

img {
    border-radius: 5%;
}

ion-card {
    border-radius: 5%;
}

.picker {
    margin-top: 1rem;
}
