<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end" (click)="gotoCart()">
      <ion-icon slot="end" *ngIf="ifLogin()" (click)="gotoLogin()" name="person-outline"></ion-icon>
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -5px; top: -3px;">{{cart?.length}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="search" (ionChange)="filter($event)" animated></ion-searchbar>

  <ion-card *ngFor="let p of product; index as i">
    <ion-row>
      <ion-col>
        <img src="../../../assets/mug.jpg" />
      </ion-col>
      <ion-col size="9">
        <h4>
          <ion-card-title>{{p.name}}</ion-card-title>
        </h4>
      
        <!-- <ion-item class="picker" lines="none">
          <ion-icon color="success" name="remove-circle" (click)="decrementQty(i)" item-right></ion-icon>
          <ion-input type="number"  min="1" [value]="p.quantity" [(ngModel)]="p.quantity"></ion-input>
          <ion-icon color="danger" name="add-circle" (click)="incrementQty(i)" item-right></ion-icon>
        </ion-item> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center">
        <ion-button (click)="addToCart(p)">Ver mas</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>