.center {
    text-align: center;
}

img {
    border-radius: 5%;
    margin-top: 3rem;
  /*   width: 15rem;
    height: 5rem; */
}

ion-card {
    border-radius: 5%;
}

.picker {
    margin-top: 1rem;
}

ion-icon {
    zoom: 1.2;
}

ion-toolbar {
  --min-height: 50px;
}

.heart {
    text-align: center;
    zoom: 2;
}

/* ion-content{
    --background: #fff url('../../../assets/fondo.jpg') no-repeat center center / cover;
} */