.center {
    text-align: center;
}

img {
    border-radius: 5%;
}

ion-card {
    border-radius: 5%;
}

.picker {
    margin-top: 1rem;
}

ion-icon {
    zoom: 1.2;
}

ion-toolbar {
  --min-height: 50px;
}
